<form action="/api/<%= server_code %>/announcement/post" method="post" id="post">
    <div class="announcement-post-container">
        <div class="input_wrapper">
            <input type="text" class="txt-field_transparent" name="title" autocomplete="off" onfocus="this.select()" placeholder="Title" value="<%- messages.title ? messages.title : 'Untitled' %>" required>
        </div>
        <div class="info_wrapper">
            <span id="entries-detail"><%= moment().format("DD MMM YYYY") %> - Posted by <%= displayName.split('AKA ')[1] %></span>
        </div>
        <div class="content_wrapper">
            <textarea rows="1" class="txt-field_line" name="content" autocomplete="off" oninput="auto_grow(this)" placeholder="Write content..." required><%- messages.content ? messages.content : '' %></textarea>
        </div>
    </div>
</form>

<!-- Toast -->
<script type="text/javascript">
    if('<%= messages.success %>'){
        showToast('success','<%= messages.success %>')
    }
    if('<%= messages.err %>'){
        showToast('failed','<%= messages.err %>')
    }
</script>
