<div class="announcement-post-container">
    <div class="input_wrapper">
        <span class="title">
            <%= announcement.title %>
        </span>
    </div>
    <div class="info_wrapper">
        <span id="entries-detail"><%= moment(announcement.createdAt, "DD/MM/YYYY HH:mm:ss").fromNow() %> - Posted by <%= announcement.author.name %></span>
    </div>
    <div class="content_wrapper">
        <p><%= announcement.content %></p>
    </div>
</div>

<!-- Toast -->
<script type="text/javascript">
    if('<%= messages.success %>'){
        showToast('success','<%= messages.success %>')
    }
    if('<%= messages.err %>'){
        showToast('failed','<%= messages.err %>')
    }
</script>
