<div class="account-container">
    <form action="/account/upload-avatar" enctype="multipart/form-data" method="post">
        <div class="profile-pic_wrapper">
            <div class="avatar" url="<%= user.photoURL %>">
            </div>
            <div class="change-avatar_wrapper" onclick="changeAvatar()">Change avatar</div>
            <input type="file" name="avatar" id="avatar" style="display: none" onchange="form.submit()">
        </div>
    </form>
    
        <div class="edit-profile_wrapper">
            <form action="/account/edit" method="post" id="post">
                <input class="txt-field-fill_grey" autocomplete="off" type="text" name="name" value="<%= user.fullName %>" placeholder="Name" readonly>
                <input class="txt-field-fill_grey" autocomplete="off" type="text" name="nickname" value="<%= user.nickname %>" placeholder="Nickname" readonly>
                <input class="txt-field-fill_grey" autocomplete="off" type="text" name="nim" value="<%= user.nim %>" placeholder="NIM" readonly>
                <input class="txt-field-fill_grey" autocomplete="off" type="number" name="whatsapp" value="<%= user.whatsapp %>" placeholder="Whatsapp">
                <input class="txt-field-fill_grey" autocomplete="off" type="text" name="instagram" value="<%= user.instagram %>" placeholder="IG Username (without @)">
                <input class="txt-field-fill_grey" autocomplete="off" type="text" name="github" value="<%= user.github %>" placeholder="Github Username">
                <input class="txt-field-fill_grey" autocomplete="off" type="text" name="bio" value="<%- messages.bio ? messages.bio : user.bio %>" placeholder="Bio">
            </form>
        </div>
    
</div>


<!-- Toast -->
<script type="text/javascript">
    if('<%= messages.success %>'){
        showToast('success','<%= messages.success %>')
    }
    if('<%= messages.err %>'){
        showToast('failed','<%= messages.err %>')
    }
</script>
