<form action="/account/edit" method="post" id="post">
    <div class="account-container">
        <div class="profile-pic_wrapper">
            <img src="<%= user.photoURL %>" alt="User Profile Picture">
        </div>
        <div class="edit-profile_wrapper">
            <input class="txt-field-fill_grey" autocomplete="off" type="text" name="name" value="<%= user.fullName %>" placeholder="Name" readonly>
            <input class="txt-field-fill_grey" autocomplete="off" type="text" name="nickname" value="<%= user.nickname %>" placeholder="Nickname" readonly>
            <input class="txt-field-fill_grey" autocomplete="off" type="text" name="nim" value="<%= user.nim %>" placeholder="NIM" readonly>
            <input class="txt-field-fill_grey" autocomplete="off" type="number" name="mobile" value="081237791878" placeholder="Mobile">
            <input class="txt-field-fill_grey" autocomplete="off" type="text" name="ig" value="@twistzzcs" placeholder="IG Username">
            <input class="txt-field-fill_grey" autocomplete="off" type="text" name="github" value="hdmonster" placeholder="Github Username">
            <input class="txt-field-fill_grey" autocomplete="off" type="text" name="bio" value="<%- messages.bio ? messages.bio : user.bio %>" placeholder="Bio">
        </div>
    </div>
</div>
</form>

<!-- Toast -->
<script type="text/javascript">
    if('<%= messages.success %>'){
        showToast('success','<%= messages.success %>')
    }
    if('<%= messages.err %>'){
        showToast('failed','<%= messages.err %>')
    }
</script>
