<div class="account-container">
    <div class="profile-pic_wrapper">
        <div class="avatar" url="<%= user.photoURL %>">
        </div>
    </div>
    <div class="profile-info_wrapper">
        <span> <%= displayName %> </span>
        <span> <%= nim %> </span>
    </div>
    <div class="edit-profile_wrapper" onclick="navigateNext('edit')">
        <button class="btn-edit-profile">edit profile</button>
    </div>
</div>

<!-- Toast -->
<script type="text/javascript">
    if('<%= messages.success %>'){
        showToast('success','<%= messages.success %>')
    }
    if('<%= messages.err %>'){
        showToast('failed','<%= messages.err %>')
    }
</script>

