<div class="account-container">
    <div class="profile-pic_wrapper">
        <div class="avatar" url="<%= user.photoURL %>">
        </div>
    </div>
    <div class="profile-info_wrapper">
        <span class="name"> <%= user.fullName %> </span>
        <span class="bio"><%= user.bio %></span>
    </div>
    <div class="social_wrapper">
        <div class="icon-container" onclick="openNewTab('https://wa.me/62<%= user.whatsapp %>?text=Hai,saya <%= fullName %> biasa dipanggil <%= nickname %>')">
            <i data-feather="phone"></i>
        </div>
        <div class="icon-container" onclick="openNewTab('https://www.instagram.com/<%= user.instagram %>')">
            <i data-feather="instagram"></i>
        </div>
        <div class="icon-container" onclick="openNewTab('https://www.github.com/<%= user.github %>')">
            <i data-feather="github"></i>
        </div>
    </div>
</div>

<!-- Toast -->
<script type="text/javascript">
    if('<%= messages.success %>'){
        showToast('success','<%= messages.success %>')
    }
    if('<%= messages.err %>'){
        showToast('failed','<%= messages.err %>')
    }
</script>
