<div class="poll-card-container">
    <div class="info_wrapper">
        <span class="author"><%= data.author.name %></span>
        <span class="end-time">
            Polls ended
        </span>
    </div>
    
    <div class="question_wrapper">
        <span>
            <%= data.question %>
        </span>
    </div>

    <div class="poll-wrapper">
        <% let voterCount = data.voter.length %>
        <% data.option.forEach((option,index) => { %>
            <% let percentage = (option.count/voterCount) * 100 %>
            <% percentage = data.settings.showAfterVote ?  percentage : data.settings.isAlwaysAvailable && !data.settings.showAfterVote ? '0' : currentDate > data.settings.availability.endDate && !data.settings.showAfterVote ?  percentage : '0' %>
            <div class="progress-bar_wrapper">
                <div class="progress-bar" value="<%= percentage %>">
                    <div>
                        <span><%= option.item %></span>
                        <span class="percentage"><%= percentage %>%</span>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    <div class="vote-btn_wrapper">
        <span>Thanks for the response!</span>
    </div>
</div>