<div class="poll-card-container">
    <div class="info_wrapper">
        <span class="author"><%= data.author.name %></span>
        <span class="end-time">
            <% let isBetween = moment(currentDate).isBetween(data.settings.availability.startDate, data.settings.availability.endDate, undefined, '[]') %>
            <% if(!data.settings.isAlwaysAvailable && moment(currentDate).isAfter(data.settings.availability.endDate)){ %> 
                Polls ended
            <% } %>
            <% if(!data.settings.isAlwaysAvailable && isBetween){ %>
                Ends <%= moment(data.settings.availability.endDate, "DD/MM/YYYY HH:mm:ss").fromNow(); %>
            <% } %>
            <% if(data.settings.isAlwaysAvailable){ %>
                Always available
            <% } %>
        </span>
    </div>
    
    <div class="question_wrapper">
        <span>
            <%= data.question %>
        </span>
    </div>

    <div class="poll-wrapper">
        <% let voterCount = data.voter.length %>
        <% data.option.forEach((option,index) => { %>
            <% let percentage = Math.round((option.count/voterCount) * 100) %>
            <% percentage = data.settings.showAfterVote ?  percentage : data.settings.isAlwaysAvailable && !data.settings.showAfterVote ? '0' : currentDate > data.settings.availability.endDate && !data.settings.showAfterVote ?  percentage : '0' %>
            <div class="progress-bar_wrapper">
                <div class="progress-bar" value="<%= Math.round(percentage) %>">
                    <div>
                        <span><%= option.item %></span>
                        <span class="percentage"><%= Math.round(percentage) %>%</span>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    <div class="vote-btn_wrapper">
        <% if (data.author.userId == userId) {  %>
            <a href="/api/<%= serverCode %>/poll/<%= data.id %>/update"><%= data.settings.showAfterVote ? 'Hide results' : 'Show results' %></a>
        <% } else { %>
            <span>Thanks for the response!</span>
        <% } %>
    </div>
</div>