<div class="poll-card-container">
    <div class="info_wrapper">
        <% let isBetween = moment(currentDate).isBetween(data.settings.availability.startDate, data.settings.availability.endDate, undefined, '[]') %>
        <span class="author"><%= data.author.name %></span>
        <span class="end-time">
            <% if(!data.settings.isAlwaysAvailable && moment(currentDate).isBefore(data.settings.availability.startDate)){ %> 
                Opens <%= moment(data.settings.availability.startDate, "DD/MM/YYYY 00:00:00").fromNow(); %>
            <% } %>
            <% if(!data.settings.isAlwaysAvailable && isBetween){ %>
                Ends <%= moment(data.settings.availability.endDate, "DD/MM/YYYY HH:mm:ss").fromNow(); %>
            <% } %>
            <% if(data.settings.isAlwaysAvailable){ %>
                Always available
            <% } %>
        </span>
    </div>
    <div class="question_wrapper">
        <span>
            <%= data.question %>
        </span>
    </div>

    <form action="/api/<%= serverCode %>/poll/<%= data.id %>/vote" method="post">
        <div class="poll-wrapper">
            <% data.option.forEach((option,index) => { %>
               <input type="radio" id="vote-btn-<%= index %>-<%= data.id %>" name="vote_option" value="<%= option.item %>">
               <label for="vote-btn-<%= index %>-<%= data.id %>" class="btn"><%= option.item %></label>
            <% }); %>
        </div>
        <div class="vote-btn_wrapper">
            <%-   %>
            <button type="submit" class="btn-lg" <%- data.settings.isAlwaysAvailable ? '' : isBetween ? '' : 'disabled' %> >vote</button>
        </div>
    </form>
</div>