
<div class="list-post-container">
    <div class="input_wrapper">
        <span class="title">
            <%= list.title %>
        </span>
    </div>
    <div class="content_wrapper">
        <p><%= list.content %></p>
    </div>
    <div class="info_wrapper">
        <span id="entries-count"></span>
        <span id="entries-detail"><%= moment(list.createdAt).format("DD MMM YYYY") %> - Posted by <%= list.author.name%></span>
    </div>
</div>

<div class="add-me-form-container">
    <form action="/api/<%= serverCode %>/list/<%= listId %>/add-me" method="post">
        <input class="txt-field_white" autocomplete="off" type="text" name="name" placeholder="<%= nickname %>" readonly>
        <% if(list.settings.type == 'double'){ %>
            <input class="txt-field_white" autocomplete="off" type="text" name="note" placeholder="<%= list.settings.note %>" required>
        <% }; %>
        <button class="btn-rounded" type="submit">submit</button>
    </form>

</div>

<!-- Toast -->
<script type="text/javascript">
    if('<%= messages.success %>'){
        showToast('success','<%= messages.success %>')
    }
    if('<%= messages.err %>'){
        showToast('failed','<%= messages.err %>')
    }
</script>
