<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/s/<%= serverCode %>/list/<%= listId %>/edit">Edit List</a>
    <a href="/s/<%= serverCode %>/list/<%= listId %>/add-me">Add Me</a>
    <a href="javascript:void()" onclick="confirm('Are you sure want to delete this list?') ? document.getElementById('deleteList').submit() : ''">Delete List</a>
    <a href="/api/auth/signout">Logout</a>
    <form action="/api/<%= serverCode %>/list/<%= listId %>/delete" method="post" id="deleteList"></form>
    <p>
      <% if(messages.success){ %>
        <%= messages.success %>
      <% } %>
      <% if(messages.err){ %>
        <%= messages.err %>
      <% } %>
    </p>
    <h4><%= list.title %></h4>
    <p><%= list.content %></p>

    <p><%= list.createdAt %> - <%= list.author.name.split('AKA ')[1] %></p>
    <div class="entry-count"></div>
    <div class="entry-list"></div>



    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socket/detail-list.js"></script>
  </body>
</html>
