<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <h1>List | <%= list.title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/s/<%= serverCode %>/list/<%= listId %>/edit">Edit List</a>
    <a href="/api/auth/signout">Logout</a>
    <p>
      <% if(messages.success){ %>
        <%= messages.success %>
      <% } %>
      <% if(messages.err){ %>
        <%= messages.err %>
      <% } %>
    </p>
    <p><%= list.content %></p>

    <p>0 entries</p>
    <p><%= list.createdAt %> - <%= list.author.name.split('AKA ')[1] %></p>

    <p>
        <b>Jake Sullivan</b><br>
        Sakit
    </p>
    <p>
        <b>Jake Sullivan</b><br>
        Sakit
    </p>
  </body>
</html>
