<form action="/api/<%= serverCode %>/list/<%= listId %>/edit" method="post" id="post">
    <div class="list-post-container">
        <div class="input_wrapper">
            <input type="text" class="txt-field_transparent" name="title" autocomplete="off" placeholder="Untitled" value="<%- messages.title ? messages.title : list.title %>">
        </div>
        <div class="content_wrapper">
            <input type="text" class="txt-field_line" name="content" autocomplete="off" placeholder="Write caption..." value="<%- messages.content ? messages.content : list.content %>">
        </div>
        <div class="info_wrapper">
            <span id="entries-count">0 Entries</span>
            <span id="entries-detail"><%= moment(list.createdAt, ).format("DD MMM YYYY") %> - Posted by <%= list.author.name.split('AKA ')[1] %></span>
        </div>
    </div>
</form>
