<form action="/api/<%= server_code %>/list/post" method="post" id="post">
    <div class="list-post-container">
        <div class="input_wrapper">
            <input required type="text" class="txt-field_transparent" name="title" autocomplete="off" onfocus="this.select()" placeholder="Title" value="<%- messages.title ? messages.title : 'Untitled' %>" >
        </div>
        <div class="content_wrapper">
            <textarea rows="1" class="txt-field_line" name="content" required autocomplete="off" oninput="auto_grow(this)" placeholder="Write caption..."><%- messages.content ? messages.content : '' %></textarea>
        </div>
        <div class="info_wrapper">
            <span id="entries-count">0 Entries</span>
            <span id="entries-detail"><%= moment().format("DD MMM YYYY") %> - Posted by <%= displayName.split('AKA ')[1] %></span>
        </div>
    </div>

    <div class="list-settings-container">
        <span>
            list settings
        </span>

        <div class="button-group_wrapper">
            <input type="radio" class="stv-radio-button" name="type" value="single" id="btn-single" onclick="showPreview()" checked />
            <label for="btn-single">Single</label>
            <input type="radio" class="stv-radio-button" name="type" value="double" id="btn-double" onclick="showPreview()" />
            <label for="btn-double">Double</label>
        </div>

        <div class="list-preview_wrapper">
            <div class="preview-single">
                <div class="card-post-single">
                    <div class="header">
                        <span class="title">Nama</span>
                    </div>
                </div>
            </div>
            <div class="preview-double">
                <div class="card-post-double">
                    <div class="header">
                        <span class="title">Nama</span>
                        <div class="note-container">
                            <input type="text" class="note" name="note" onfocus="this.select()" placeholder="Note (eg. alasan/nim etc.)" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
