<div class="container">
    <div class="recent_wrapper">
        <span>recent</span>
    </div>
    <div class="content-container">
        <%- include('../partials/spinkit/sk-circle.ejs') %>
        <div class="content"></div>
        <div class="load-more">
            <button id="load-more">Load more</button>
        </div>
    </div>

</div>
<!-- Firebase -->
<script>
    const currentUserId = '<%= userId %>'
</script>
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-firestore.js"></script>
<script src="/js/firebase/init.js"></script>
<script src="/js/load-data/poll.js"></script>
<script src="/js/template/poll-card.js"></script>
<!-- Toast -->
<script type="text/javascript">
    if('<%= messages.success %>'){
        showToast('success','<%= messages.success %>')
    }
    if('<%= messages.err %>'){
        showToast('failed','<%= messages.err %>')
    }
</script>