<div class="container">
    <div class="recent_wrapper">
        <span>recent</span>
    </div>
    <% let currentDate = moment().format("DD/MM/YYYY"); %>
    <% polls.forEach(function(poll){ %>
        <% if(poll.isVoted === true){ %>
            <!--If user voted the poll pass data here-->
            <%- include('../partials/cards/poll-voted',{data: poll}) %>
        <% }else{ %>
            <!--else here-->
            <%- include('../partials/cards/poll-vote', {data: poll}) %>
        <% } %>
    <% }) %>

    
</div>

<!-- Toast -->
<script type="text/javascript">
    if('<%= messages.success %>'){
        showToast('success','<%= messages.success %>')
    }
    if('<%= messages.err %>'){
        showToast('failed','<%= messages.err %>')
    }
</script>