<form action="/api/<%= server_code %>/poll/post" method="post" id="post">
    <div class="container">
        <div class="poll-card-container">
            <div class="info_wrapper">
                <span class="author"><%= displayName.split('AKA ')[1] %></span>
                <span class="end-time">
                </span>
            </div>
            <div class="question_wrapper">
                <textarea rows="1" class="txt-field_transparent" name="question" autocomplete="off" oninput="auto_grow(this)" placeholder="What do you want to ask?" ><%- messages.question ? messages.question : '' %></textarea>
            </div>
            <div class="option_ wrapper">
                <div class="option-input_container">
                    <% if(messages.vote_option) { messages.vote_option.forEach(function(option,i){ %>
                        <% i = i+1 %>
                        <input class="txt-field-fill_grey" autocomplete="off" type="text" name="vote_option[]" placeholder="Option <%= i %>" value="<%= option %>">
                    <%}) }else{ %>
                        <input class="txt-field-fill_grey" autocomplete="off" type="text" name="vote_option[]" placeholder="Option 1">
                        <input class="txt-field-fill_grey" autocomplete="off" type="text" name="vote_option[]" placeholder="Option 2">
                    <% } %>
                    <div class="additional-option-input_container">
                    </div>
                </div>
                <button class="btn-add-option" type="button" onclick="addOption()">Add another option</button>
            </div>
            <div class="settings-container">
                <span class="title">Settings</span>
                <div class="setting_wrapper">
                    <span>Show poll result after vote</span>
                    <label class="switch">
                        <input type="checkbox" name="showAfterVote" <%- messages.showAfterVote == 'on' || messages.showAfterVote == undefined ? 'checked' : '' %> >
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="setting_wrapper">
                    <span>Always open poll</span>
                    <label class="switch">
                        <input type="checkbox" id="openPoll" name="openPoll" onclick="showDatepicker()" <%- messages.openPoll == 'on' || messages.openPoll == undefined ? 'checked' : '' %> >
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="datetime_wrapper">
                    <input type="text" id="datepicker" name="datetime_available" class="txt-field-fill_grey" placeholder="Open poll date" value="<%- messages.datetime_available ? messages.datetime_available : '' %>"/>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Toast -->
<script type="text/javascript">
    if('<%= messages.success %>'){
        showToast('success','<%= messages.success %>')
    }
    if('<%= messages.err %>'){
        showToast('failed','<%= messages.err %>')
    }
</script>
